<!--The content below is only a placeholder and can be replaced.-->
<div>
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Disabled link</a></li>
  <li role="presentation" ><a href="#">Disabled link</a></li>
  <li role="presentation"><a href="#">Disabled link</a></li>
</ul>
<img src="http://via.placeholder.com/350x150" alt="">
<app-bind></app-bind>
<input type="text" placeholder="请输入number" [(ngModel)]="stock">
<app-order [number]="100" [stockCode]="stock"> </app-order>
</div>
<!--<app-form></app-form>-->
<app-form-reactive></app-form-reactive>

